{% extends "base.html" %}

{% block content %}

<h2>HR Dashboard</h2>

<h3>Your Jobs</h3>

{% for job in jobs %}

<p>{{ job.title }}</p>

{% endfor %}

<hr>

<h3>Applications</h3>

{% for app in applications %}

<div>

    <p>Applicant: {{ app.applicant.username }}</p>

    <p>Job: {{ app.job.title }}</p>

</div>

{% endfor %}

<hr>

<h3>Screening Results</h3>

{% for result in results %}

<div>

    <p>Applicant: {{ result.application.applicant.username }}</p>

    <p>Score: {{ result.similarity_score }}</p>

</div>

{% endfor %}

{% endblock %}